<!-- <div class="container">
    <mat-card class="category-card" *ngFor="let category of categories">
        <div class="category-name">
            <span [matMenuTriggerFor]="menu"> {{category.name}}</span>
            <mat-menu  #menu="matMenu">
                <form [formGroup]="addToTodo" (ngSubmit)="saveTodo()">
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>Title</mat-label>
                            <input matInput formControlName="title" type="text" required placeholder="Title">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>Description</mat-label>
                            <textarea matInput type="textarea" formControlName="description" required placeholder="Description"></textarea>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-checkbox formControlName="completed" >Completed</mat-checkbox>
                    </div>
                    <button mat-button (click)="saveTodo()">Save</button>
                </form>
            </mat-menu>
        </div>
    </mat-card>
</div> -->

<div class="container">
    <mat-card class="category-card" *ngFor="let category of categories">
        <div class="category-name">
            <span class="category" (click)="toggleDropdown(category.name)">{{category.name}}</span>
        </div>
        <div class="to-do" *ngIf="showDropdown == category.name ">
            <form [formGroup]="addToTodo" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="outline">
                    <input matInput  formControlName="title" placeholder="Title" type="text" required> 
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <textarea matInput type="textarea" placeholder="Description" formControlName="description" required>Description</textarea>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-checkbox formControlName="completed">Completed</mat-checkbox> 
                </mat-form-field>

                <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="addToTodo.invalid">Save</button>
            </form>
        </div>
    </mat-card>
</div>